{% extends 'base.html' %}
{% block title %}Книги у друзей{% endblock title %}
{% block header %}Перечень выданных друзьям книг:{% endblock header %}
{% block content %} 
{% for friend in friends %}
<ul class="list-group">
    <li class="list-group-item">
        <h5>{{ friend.friend_name }}</h5>            
            <ul class="list-group">
            {% for book in friend.books.all %}
                <li class="list-group-item"> Книга: {{ book.title }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %}
{% endblock %}