{% extends 'base.html' %}
{% block title %}Моя библиотека{% endblock title %}
{% block header %}Приветствую Вас в {{ title }}. 
  Здесь собрано {{ books|length }} книг из моей коллекции:
{% endblock header %}
{% block content %} 
    <table class="table table-striped table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Обложка</th>
                <th scope="col">Издатель</th>  
                <th scope="col">Книга</th>
                <th scope="col">Номер</th>
                <th scope="col">Название произведения</th>
                <th scope="col">Год создания</th>
                <th scope="col">Автор</th>
                <th scope="col">Страна</th>
                <th scope="col">Количество</th>
                <th scope="col">Изменить</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><img src='{{ book.image_url }}' alt="picture"/></td>
                <td>{{ book.publisher.name }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.year_release }}</td>
                <td>{{ book.author.full_name }}</td>
                <td>{{ book.author.country }}</td>
                <td>{{ book.copy_count }}</td>
            <td>
                <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" class="btn btn-outline-dark btn-sm btn-block" value="Прибавить кол-во" />
                </form>
                <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" class="btn btn-outline-dark btn-sm btn-block" value="Убавить кол-во    " />
                </form>  
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}